extends layout

block content
    nav
        li Yle
        li SVT

    each decade in decades
        section
            h1 #{decade.decade}
            div(class="yle") 
                ul
                each program, i in decade.yle
                    li(class="img-container #{(i>0 ? 'hide' : '')}")
                        img(src="#{program.image}")
                        
            div(class="svt")
                ul
                each program, i in decade.svt
                    li(class="img-container #{(i>0 ? 'hide' : '')}")
                        img(src="#{program.image}")