extends layout

block content

    nav#country
        li Meanwhile in... 
        li Suomi <span>&#711;</span>
            ul
                li Ísland
                li Danmark
                li Norge
                li.active Suomi
                li Sverige
        li &nbsp;
        li Sverige <span>&#711;</span>
            ul
                li Ísland
                li Danmark
                li Norge
                li Suomi
                li.active Sverige
        li &nbsp;

    nav#genre
        a(href="/?genre=music" class="#{genre == 'music'?'active':''}") Music 
        a(href="/?genre=sport" class="#{genre == 'sport'?'active':''}") Sport 
        a(href="/?genre=news" class="#{genre == 'news'?'active':''}") News 
        a(href="/?genre=food" class="#{genre == 'food'?'active':''}") Food 
        a(href="/?genre=horror" class="#{genre == 'horror'?'active':''}") Horror
        a(href="/?genre=random" class="#{genre == 'random'?'active':''}") Random

    each decade in decades
        section
            h1 #{decade.decade}'s
            div.wrapper
                div(class="yle") 
                    ul
                    each program, i in decade.yle
                        li(class="img-container #{(i>4 ? 'hide' : '')}")
                            if program.mediaId != null
                                div(class="yle_areena_player" data-id="#{program.mediaId}" data-article="#{program.url}")
                div(class="svt")
                    ul
                    each program, i in decade.svt
                        li(class="img-container #{(i>4 ? 'hide' : '')}")
                            video(controls poster="#{program.image}")
                                source(src="#{program.stream}" type="video/mp4")